<!--Main Navigation-->
<header>
    <!-- Sidebar -->

    
        
            <div class="list-group list-gorup-sidenav list-group-flush mx-3 mt-4">
                
                <a routerLink="/page1" class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Page1</span>
                </a>
                <a routerLink="/page2" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-lock fa-fw me-3"></i><span>Page2</span></a>
                <a routerLink="/form" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-chart-line fa-fw me-3"></i><span>Form</span></a>
            </div>
        
  


    <!-- Sidebar -->




   
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
    <div class="container pt-4"></div>
</main>
<!--Main layout-->